{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karol Kurek</title>
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}"/>
    <script src="https://kit.fontawesome.com/b46710c29e.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'portfolio/images/favicon.ico' %}">
    {% block css_files %}
    {% endblock %}
</head>
<body class="">
    <nav class="navbar">
        <div class="personal__logo">Karol Kurek</div>
        <ul class="nav__link--list nav-menu">
            <li class="nav__link nav-item">
                <a href="{% url 'index' %}" class="nav__link--anchor link__hover-effect link__hover-effect--black">Home</a>
            </li>
            <li class="nav__link nav-item">
                <a href="{% url 'about' %}" class="nav__link--anchor link__hover-effect link__hover-effect--black">About</a>
            </li>
            <li class="nav__link nav-item">
                <a href="{% url 'projects' %}" class="nav__link--anchor link__hover-effect link__hover-effect--black">Projects</a>
            </li>
            <li class="nav__link nav-item">
                <a href="mailto:kurekhombre@gmail.com" class="nav__link--anchor nav__link--anchor-primary">Contact</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

{% block content %}
{% endblock %}

<footer>
    <div class="row footer__row">
        <a href="#" class="footer__anchor">
            <figure class="footer__logo">
                <img src="{% static 'portfolio/images/logo.png' %}" class="footer__logo--img" alt="Karol Kurek logo">
            </figure>
            <span class="footer__logo--popper">
                Top
                <i class="fas fa-arrow-up"></i>
            </span>
        </a>
        <div class="footer__social--list">
            <a href="https://www.linkedin.com/in/karol-kurek/" class="footer__social--link link__hover-effect link__hover-effect--white" target="_blank">Linkedin</a>
            <a href="https://github.com/kurekhombre" class="footer__social--link link__hover-effect link__hover-effect--white" target="_blank">Github</a>
            <a href="https://m.me/drainedsb" class="footer__social--link link__hover-effect link__hover-effect--white" target="_blank">Messenger</a>
            <a href="{% static 'portfolio/files/Karol_Kurek_Resume.pdf' %}" class="footer__social--link link__hover-effect link__hover-effect--white" target="_blank">Resume</a>
            <a href="mailto:kurekhombre@gmail.com" class="footer__social--link link__hover-effect link__hover-effect--white" target="_blank">Email</a>
        </div>
    <div class="footer__copyright">Made by Karol Kurek</div>
    </div>
</footer>
<script src="{% static 'portfolio/js/main.js' %}"> </script>
</body>
</html>